img{
    z-index: -1;
    height: 98vh;
    width: 98vw;
    position:fixed;
}
header{
    text-align: center;
    text-decoration: double;
    color: darkblue;
    font-size: xx-large;
    background-color: yellow;
    border: 2px solid rgba(88, 88, 203, 0.836);
}
ul.navbar {
list-style-type: none;
margin: 0;
padding: 0;
background-color: #051967c4;
overflow: hidden;
}

ul.navbar li {
float: left;
}

ul.navbar li a {
display: block;
color: white;
text-align: center;
padding: 15px 19px;
text-decoration: none;
font-weight: 50px;
font-size: x-large;
border: 2px solid yellow;
}

ul.navbar li a:hover {
background-color: #f2f219da;
border: 1px solid black;
}

ul.navbar li:hover ul.dropdown {
display: block;
border: 2px solid rgba(247, 233, 102, 0.877);
z-index: 1;
}

ul.navbar li ul.dropdown {
display: none;
position: absolute;
background-color: #124ce9f5;
padding: 0;
}

ul.navbar li ul.dropdown li {
display: block;
float: none;
}

ul.navbar li ul.dropdown li a {
display: block;
text-align: left;
padding: 10px;
border: none;
}

ul.navbar li ul.dropdown li a:hover {
background-color: #003087;
color: white;
}
.portfolio-box {
    width: 300px;
    padding: 15px;
    background-color: #8ae6ee9d;
    border: 1px solid #080808;
    border-radius: 5px;
    margin: 20px;
    float: left;
    height: 400px;
}
#profile{
    z-index: 0;
    width: 200px;
    height:210px;
    transform: translate(45px,5px);
    position:absolute
}
#details{
    text-align: center;
}
#liclogo{
    width: 535px;
    height: 500px;
    border: 4px solid rgba(235, 238, 220, 0.868);
}
#liclogo2{
    width: 550px;
    height: 500px;
    transform: translate(550px,1px);
    border: 3px solid blue;
}
body{
    background-color: rgba(238, 244, 157, 0.84);
    position: static;
}

.slideshow-container {
width: 800px;
height: 380px;
position: relative;
overflow: hidden;
transform: translate(-10px,20px);
border: 2px solid black;
z-index: -1;
}

.slideshow-container {
position: relative;
width: 100%;
max-width: 800px;
margin: 0 auto;
}

.slideshow-image {
display: none;
max-width: 100%;
height: auto;
object-fit: contain;
}
#quote{
font-size: large;
color: blue;
font-family:sans-serif
}
#quotebox{
border: 2px solid rgb(30, 30, 28);
margin-left: 25%;
text-align: center;
background-color: rgba(248, 248, 12, 0.822);
}

.footer {
background-color: #063a99e0;
color: #fff;
padding: 20px;
text-align: center;
}

.footer p {
margin: 0;
}

.footer a {
color: #fff;
text-decoration: underline;
}
@keyframes animate{
0% { opacity: 0; }
50% { opacity: 1; }
100% { opacity: 0; }
}

.blink {
font-weight: 200;
font-size: large;
color: #fff;
width: 450px;
margin-left: 35%;
height: 25px;
color: #003087;
animation: animate 
        1.5s linear infinite;
}
body{
border: 8px solid rgba(12, 20, 247, 0.922);
margin: 0;
}
#demod{
font-size: medium;
text-align: center;
}
@keyframes motionText {
0% {
margin-left: 0;
}
100% {
margin-left: 750px;
}
}

.moving-text {
animation: motionText 15s linear infinite;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
color: black;
text-emphasis-color: blue;
}